.product-list {
    margin: auto;
    margin-top: 8px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.product-list img {
    width: 100%;
    border-radius: 7px;
    height: 100%;
    position: absolute;
}

.product-list .card-body {
    padding: 7px 12px;

}

.image-view {
    position: relative;
    height: 100px;
    background: white;


}

.add-to-cart {}

.product-div {
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 3px;
}

.product-div:hover {
    overflow-y: auto;

}

.view_products {
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgb(0 0 0 / 25%);
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
    /* display: grid; */
    padding-bottom: 10px;
}

.add-to-cart-button {
    padding: 1px 10px;
    margin-right: 4px;
    border: none;
    background: #5dd46d;
    color: white;
    border-radius: 6px;
    font-size: 15px;
}

.add-to-cart-view {
    padding: 1px 10px;
    margin-right: 4px;
    border: none;
    background: #2b1e1a;
    color: white;
    border-radius: 6px;
    font-size: 15px;
}

.product-title {
    margin: 0;
    font-size: 13px;
}

.stream-details {
    height: 70px;
}

.stream-details h4 {
    text-align: center;
    margin-top: 20px;
}

.single-product {
    width: 50%;
    height: 203px;
    float: left;
    padding: 5px;
}



/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: gray;
}

::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background: gray;
}

::-webkit-scrollbar-thumb:horizontal {
    background: #000;
    border-radius: 10px;
}

.product-lists {
    height: 100%;
    overflow: auto;
    padding: 0;
    height: 200px;
    margin-top: 17px;
}

.cart-scroll:hover {
    overflow: auto;
}

.cart-scroll {
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100%;
}

.product-details {
    background: rgba(0, 0, 0, 0.25);
    height: 100%;
    box-shadow: 0px 0px 5px -2px #74d4a6;
    border-radius: 10px;
}

.product-details div {
    padding: 0;
    margin: 0;
    height: 100%;
}

.image-view-medium {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px !important;
}

.image-view-medium img {
    width: 64px;
    height: 64px;
    background: white;
    border-radius: 50%;
}

.title-views {
    display: grid;
    align-content: space-around;
}

.title-views .product-title {
    font-size: 12px;
    color: white;
    /* margin-bottom: 27px; */
}

.price-views {
    display: grid;
    align-content: space-around;
}

.price-views .price {
    margin: 0;
    font-size: 12px;
    text-align: right;
    padding: 10px 23px 0 0;
    color: white;
}

.add-to-cart-icon {
    background: #48D391;
    border-radius: 5px;
    padding: 4px 10px;
    color: white;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
}

.price-views .add-t-cart {
    padding: 0px 19px 0 0;
    text-align: right;
}

.hide-class {
    display: none;
}

.view-cart-box {
    height: 360px;
    margin-top: -168px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 0px 0px;
    padding: 15px;
}

.view-cart-box-proceed {
    height: 520px;
    margin-top: -328px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 0px 0px;
    padding: 15px;
    position: relative;
}

.product-title-view {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.product-title-view div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-title-view .timer-checkout {
    color: red;
    font-weight: bold;

}

.product-title-view a {
    margin-right: 10px;
    margin-top: -6px;
}

.product-title-view span {
    font-size: 16px;
    color: white;
}

.product-value {
    display: flex;
    color: white;
    justify-content: space-between;
    font-size: 14px;
    padding: 0 15px;
    position: relative;
    margin-top: 10px;
}

.toast-message {
    position: absolute;
    width: 100%;
    z-index: 100000;
}

.disbale_body {
    opacity: 0.4;
    cursor: not-allowed;
}

.product-value-proceed {
    display: flex;
    color: white;
    justify-content: space-between;
    font-size: 14px;
    padding: 0 15px;
    position: relative;
    margin-top: 10px;
}

.product-value p:first-child {
    width: 100%;
    text-align: left;
}

.product-value p {
    margin: 0;
}

.product-value p:last-child {
    position: absolute;
    right: 15px;
}

.pay_bottom button {
    text-align: center;
    background: #48D391;
    margin-top: 10px;
    width: 100%;
    color: white;
    margin-top: 13px;
}

.paymant-view {
    margin-top: 12px;
}

.product-details-large {
    margin: auto;
    margin-top: 8px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgb(0 0 0 / 25%);
    border-radius: 10px;
}

@media only screen and (max-width:769px) {
    .paymant-view {
        margin-top: 0px;
    }

    .product-value {
        text-align: center !important;
        margin-top: 20px;
    }

    .price-views .add-t-cart {
        padding: 0px 4px 0 0;
        text-align: right;
    }

}



/* address Details */

.proceed-to-pay .address-details {
    height: 420px;
    overflow: auto;

}

.product-total {
    font-size: 12px;
}

.proceed-to-pay input[type=text] {
    width: 100%;
    padding: 5px 21px;
    background: rgb(255 255 255 / 25%);
    border: none;
    border-radius: 7px;
    color: white;
}

.proceed-to-pay input[type=text]::placeholder {
    color: white;
}

.proceed-to-pay input[type=text]:focus-visible {
    outline: none;
    box-shadow: 0 0 4px 0px white;
    border: 1px solid white;
    background: #9d9d9d;
}

.proceed-to-pay .title-track {
    margin-top: 9px;
    color: white;
    font-size: 13px;
}


.proceed-to-pay .radio-botton {
    padding: 3px 13px;
    color: white;
    display: flex;
    align-items: center;
}

.proceed-to-pay .radio-botton label {
    font-size: 14px;
    margin-left: 11px;
}


/* proceed-to-pay-web */

.proceed-to-pay-web input[type=text] {
    width: 100%;
    padding: 6px 21px;
    background: rgb(255 255 255 / 25%);
    border: none;
    border-radius: 7px;
    color: gray;
    box-shadow: 0 0 4px 0px grey;
}

.proceed-to-pay-web input[type=text]::placeholder {
    color: gray;
}

.proceed-to-pay-web input[type=text]:focus-visible {
    outline: none;
    box-shadow: 0 0 4px 0px gray;
    border: 1px solid gray;
    background: white;
}

.proceed-to-pay-web .title-track {
    margin-top: 9px;
    color: black;
    font-size: 13px;
    /* margin-bottom: 0; */
}

.proceed-to-pay-web .radio-botton {
    padding: 3px 13px;
    color: black;
    display: flex;
    align-items: center;
}

.proceed-to-pay-web .radio-botton label {
    font-size: 14px;
    margin-left: 11px;
}

.proceed-to-pay-web .address-details {
    padding-top: 65px;
}

.proceed-to-pay-web .paymant-view {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.proceed-to-pay .error-message {
    padding: 0 19px;
    font-size: 12px;
    color: #c91c1c;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 6px;
    height: 20px;
}

.proceed-to-pay-web .error-message {
    height: 29px;
    color: red;
    text-decoration: none;
    padding: 0 12px;
    font-weight: bold;
    margin-bottom: 6px;

}


.proceed-to-pay .address-details-lab {
    height: 100%;
    overflow: auto;
    padding-bottom: 35px;
}

.proceed-to-pay-web .address-details-lab {
    padding-top: 65px;
}

label {
    cursor: pointer;
}

.input-amount {
    padding: 4px 10px;
    border-radius: 6px;
    border: none;
    box-shadow: 0 0 2px 1px grey;
    font-size: 12px;
    text-align: right;
    width: 29%;
}

.error_message {

    font-size: 10px;
    color: red;
    font-weight: bold;
    margin-bottom: 0;
}

.button_disabled {
    opacity: 0.6;
}

.product-title-view a {
    z-index: 1000000000
}

.price-value {
    font-size: 10px;
    color: white;
}

p {
    margin-bottom: 0;
}

@media only screen and (max-width:769px) {
    .succcess-message {

        display: none!important;
    }
}
.succcess-message {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    padding: 32px;
    background: white;
    /* padding-top: 71px; */
    z-index: 10000000000;
    display: block;
}

.succcess-message .success-icon {
    display: grid;
    align-items: center;
    background: green;
    height: 50%;
    border-radius: 10px 10px 0 0;
    justify-content: center;
    left: 0;
}

.succcess-message .box-inner {
    height: 100%;
    box-shadow: 0 0 10px -3px #019444;
}

.succcess-message .success-icon {
    text-align: center;
    font-weight: 20px;
    font-weight: bold;
    color: white;
}

.succcess-message .continue {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 25px;
    font-size: 14px;
}

.succcess-message-mobile {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    padding: 32px;
    background: white;
    z-index: 10000000000;
    left: -1px;
}



.succcess-message-mobile .success-icon {
    display: grid;
    align-items: center;
    background: green;
    height: 50%;
    border-radius: 10px 10px 0 0;
    justify-content: center;
    left: 0;
}

.succcess-message-mobile .box-inner {
    height: 100%;
    box-shadow: 0 0 10px -3px #019444;
}

.succcess-message-mobile .success-icon {
    text-align: center;
    font-weight: 20px;
    font-weight: bold;
    color: white;
}

.succcess-message-mobile .continue {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 25px;
    font-size: 14px;
}