.current-live-box {
    overflow: auto;
    white-space: nowrap;
    height: 100%;
    margin-left: 10px;
}

.stream-cart {
    display: inline-block;
    width: 300px;
    height: 100%;
    /* margin-right: 10px; */
    margin: 0 10px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /* float: right; */
}

.stream-cart .stream-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 10px;
}

.stream-cart .stream-details .image-area {
    width: 60px;
}

.stream-cart .stream-details .image-area img {
    width: 100%;
    border-radius: 50%;
    height: 54px;
}

.left-view {
    display: flex;
    align-items: center;
    width: 75%;

}

.content-area {
    margin-left: 10px;
    width: calc(100% - 60px);
    display: grid;
    align-items: center;
    height: 100%;
}

.product-list {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 11px;
    margin: 0;
}

.button-area {
    display: grid;
    justify-content: flex-end;
    height: 100%;
}

.stream-icons {
    float: right;
}

.stream-icons span {

    font-size: 12px;
    font-weight: bold;

}

.register-button {
    border: none;
    background-color: #389AE0;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;

}

.rac-button {
    border: none;
    background: purple;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    /* display: none; */

}

.waiting-button {
    border: none;
    background-color: #ffa500;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    /* display: none; */

}

.watchlive-button {
    border: none;
    background-color: #48D391;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    /* display: none; */
}

.view-more{
    width: 100px;
}

p{
    margin-bottom: 0;
}

.content-area p:first-child{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}